@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap');

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Componentes gerais*/

.ul-unset {
    list-style: none;
}

.a-unset {
    text-decoration: none;
}

.toast-adicionado, .toast-retirado {
    font-size: 1.25rem;
    font-family: "Inter", sans-serif;

}